/* Importing a font we like */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Setting up limintations for the website */
html,body {
  height: 100%;
  width: 100%;
  background-color:#284B63;
  margin: 0;
  padding: 0;
}

/* Adding the main page title */
#title {
  font-family: 'Open Sans', sans-serif;
  color: #d9d9d9;
  flex: 0.1;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

/* setting all img conditions */
img {
  border-radius: 20px;
  height: 150px;
  width: 150px;
}

/* Main Page before it gets broken down into sub sections*/
#maindiv {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* All styling for the buttons at the top of the page */
button {
  border: none;
  color: #d9d9d9;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
}

/* Styling for the black header where the buttons are */
#top_header {
  background:#353535;
  height: 80px;
  flex-direction: row;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;  
  border-radius: 20px;
  margin-top: -10px;
  padding-top: 10px;
}

/* Main Dark Gray body page */
#Bodypage {
  background: #353535;
  height: 150%;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
}

/* Main section where the text and characters are*/
#Main_section {
  flex: 2;
  height: 98%;
  border: 3px #d9d9d9 solid;
  border-radius: 20px;
  width: 80%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* The actual text that is in the boxes*/
#main_text {
  border: 3px #d9d9d9 solid;
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 20px;
  border-radius: 20px;
  color: #d9d9d9;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  flex: 2;
  font-size: 18px;
}

/* Overall land space for the characters pcitures*/
#characters_section {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  font-size: 32px;
}

/* Styling for the "Characters" Title*/
#Character_text {
  font-family: 'Open Sans', sans-serif;
  color: #d9d9d9;
}

/* Crow means character row,  and within this there are c1, c2 and c3. Those are each of the characters boxes
this means that there will be 9 boxes total and 3 rows*/
#crow1 {
  display: flex;
  flex-direction: row;

  margin: 20px; 
}

#c1 {
  flex: 1;
  border: 3px #d9d9d9 solid;
  border-radius: 20px;
  margin: 10px;
}

#c2 {
  flex: 1;
  border: 3px #d9d9d9 solid;
  border-radius: 20px;
  margin: 10px;
}

#c3 {
  flex: 1;
  border: 3px #d9d9d9 solid; 
  border-radius: 20px;
  margin: 10px;
}

#crow2 {
  display: flex;
  flex-direction: row;

  margin: 20px; 
}

#c4 {
  flex: 1;
  border: 3px #d9d9d9 solid;
  border-radius: 20px;
  margin: 10px;
}

#c5 {
  flex: 1;
  border: 3px #d9d9d9 solid;
  border-radius: 20px;
  margin: 10px;
}

#c6 {
  flex: 1;
  border: 3px #d9d9d9 solid; 
  border-radius: 20px;
  margin: 10px;
}

#crow3 {
  display: flex;
  flex-direction: row;

  margin: 20px; 
}

#c7 {
  flex: 1;
  border: 3px #d9d9d9 solid;
  border-radius: 20px;
  margin: 10px;
}

#c8 {
  flex: 1;
  border: 3px #d9d9d9 solid;
  border-radius: 20px;
  margin: 10px;
}

#c9 {
  flex: 1;
  border: 3px #d9d9d9 solid; 
  border-radius: 20px;
  margin: 10px;
}

/* Styling for the side section which will hold ads and links to other webpages*/
#Side_section {
  flex: 1;
  height: 70%;
  border: 3px #d9d9d9 solid;
  border-radius: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 20%;
}

/* Sub 1 and Sub 2 are the boxes found within each Side section*/
#Sub1 {
  border: 3px #d9d9d9 solid;
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 20px;
  border-radius: 20px;
  color: #d9d9d9;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
}

#Sub2 {
  border: 3px #d9d9d9 solid;
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 20px;
  border-radius: 20px;
  color: #d9d9d9;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
}

